<?xml version="1.0" encoding="utf-8" ?>
 
<configuration>
  <connectionStrings>
    <add name="currentDB" connectionString="Test" />
    <add name="Test" connectionString="ADLUmPaQbfr8Fg9UOYe+FOFMsW3QKgIAnWd3iQ43jg7amYj1ORKnvX0MaiJAMKOphIGe2Gf+l1RycG1Ylze+SMg8jPRGtXsOhyYIwAudRBrXm2XVYNcuxIYU63JwvTmrJxyDys40pmJhoG01uPOvHxzhul6BOps3"/>
    <add name="TestFrankAzure" connectionString="ADLUmPaQbfonas6izYDnBmItcfUE98wpamCszJNF4buz1qFcYSYBZviFWhraD5cIJD8VnQZRHPADJGPsopFBIV6aibZFzukqqz7b5kPavMm6/6XlUUk3kj7yJCXnyBjSi4zaznvx6VThuBMXbOtNeDtl9osYtkm0WlW6i8vR3Qk="/> 
  </connectionStrings>
</configuration>