<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>TPA Principal Notification</title>
	</HEAD>
	<body>
		<table id="frame" style="WIDTH: 648px; HEIGHT: 512px" borderColor="#999999" cellSpacing="0"
			cellPadding="0" align="center" border="1" width="648">
			<TR>
				<TD width="640" height="111">
					<TABLE height="85" cellPadding="0" width="640" align="center" border="0" ID="Table1">
						<TR>
							<TD align="center" width="275" height="75">
								<H3>
									<TABLE id="Table5" cellSpacing="0" cellPadding="0" width="150" align="left" border="0">
										<TR>
											<TD nowrap ="nowrap" align="left"><FONT face="Arial, Helvetica, sans-serif" size="5">Toronto</FONT>
											</TD>
										</TR>
										<TR>
											<TD nowrap ="nowrap" align="left"><FONT face="Arial, Helvetica, sans-serif" size="5">Catholic</FONT></TD>
										</TR>
										<TR>
											<TD nowrap ="nowrap" align="left"><FONT face="Arial, Helvetica, sans-serif" size="5">District</FONT></TD>
										</TR>
										<TR>
											<TD nowrap ="nowrap" align="left"><FONT face="Arial, Helvetica, sans-serif" size="5">School Board</FONT></TD>
										</TR>
										<TR>
											<TD nowrap ="nowrap" align="left"></TD>
										</TR>
									</TABLE>
									<A href="http://localhost/student/TPA/images/BoardLogo2.gif" target="_top"></A>
								</H3>
							</TD>
							<TD width="325" bgColor="#000099">
								<TABLE style="WIDTH: 477px; HEIGHT: 82px" height="82" cellSpacing="0" cellPadding="0" width="477"
									border="0" ID="Table2">
									<TR>
										<TD vAlign="top" align="right" width="447" height="14"><FONT face="Arial, Helvetica, sans-serif" color="#ffffff" size="5"><STRONG>Teacher 
													Performance Appraisal</STRONG></FONT>
										</TD>
									</TR>
									<TR>
										<TD align="right" height="24">
											<P align="center"><FONT face="Arial, Helvetica, sans-serif" color="#ffffff" size="5"><STRONG><FONT size="3">SchoolNameSTR</FONT>
													</STRONG></FONT>
											</P>
										</TD>
									</TR>
								</TABLE>
							</TD>
						</TR>
					</TABLE>
				</TD>
			</TR>
			<tr>
				<td width="100%">
					<TABLE id="Table3" style="HEIGHT: 304px" cellSpacing="0" cellPadding="0" width="100%" align="center"
						border="0">
						<TR>
							<TD align="center" height="19"></TD>
							<TD align="center" height="19"></TD>
							<TD align="center" height="19"></TD>
						</TR>
						<TR>
							<TD align="center" height="37"></TD>
							<TD align="center" bgColor="#000099" height="37">
								<FONT face="Arial, Helvetica, sans-serif" color="#ffffff" size="+1"><B>Teacher 
										Performance Appraisal Notification</B> </FONT>
							</TD>
							<TD align="center" height="37"></TD>
						</TR>
						<TR>
							<TD align="center" height="22"></TD>
							<TD align="center" height="22"></TD>
							<TD align="center" height="22"></TD>
						</TR>
						<TR>
							<TD align="center"></TD>
							<TD align="center">
								<table style="WIDTH: 640px; HEIGHT: 312px" cellSpacing="5" cellPadding="1" width="640"
									align="center" border="0" ID="Table4">
									<TR>
										<TD width="550" height="44">
											<P align="left"><FONT face="Arial, Helvetica, sans-serif" size="+1"><B>TeacherNameSTR</B>
												</FONT>
											</P>
										</TD>
									</TR>
									<TR>
										<TD vAlign="top" height="66">
											<P align="left"><FONT face="Arial">This is to inform you that you will be appraised by <STRONG>
														PrincipalNameSTR</STRONG>.  </FONT>
											</P>
											<P align="left"><FONT face="Arial"> I will contact you at a later date to make further arrangements in regards to the pre-observation meeting.								
													 </FONT>
											</P>
										</TD>
									</TR>
									<TR>
										<TD vAlign="top" height="84">
											<P align="left"><FONT face="Arial">As part of the "Teacher Performance Appraisal" 
													process, you are requested to provide information about the class to be 
													observed. Please go to </FONT><A href="http://webapp.tcdsb.org/tpa" target="_blank">
													<FONT face="Arial">Teacher Performance Appraisal</FONT></A>&nbsp;<FONT face="Arial">to 
													complete the task.</FONT></P>
										</TD>
									</TR>
									<TR>
										<TD vAlign="top">
											<P align="left"><FONT face="Arial">AdditioninfomationSTR</FONT></P>
										</TD>
									</TR>
								</table>
							</TD>
							<TD align="center"></TD>
						</TR>
					</TABLE>
				</td>
			</tr>
		</table>
		<br>
	</body>
</HTML>
