<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>TPA Principal Notification</title>
</head>
<body>
    <table id="frame" style="width: 648px; height: 512px" bordercolor="#999999" cellspacing="0"
        cellpadding="0" align="center" border="1" width="648">
        <tr>
            <td width="640" height="111">
                <table height="85" cellpadding="0" width="640" align="center" border="0" id="Table1">
                    <tr>
                        <td align="center" width="275" height="75">
                            <h3>
                                <table id="Table5" cellspacing="0" cellpadding="0" width="150" align="left" border="0">
                                    <tr>
                                        <td nowrap="nowrap" align="left">
                                            <font face="Arial, Helvetica, sans-serif" size="5">Toronto</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" align="left">
                                            <font face="Arial, Helvetica, sans-serif" size="5">Catholic</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" align="left">
                                            <font face="Arial, Helvetica, sans-serif" size="5">District</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" align="left">
                                            <font face="Arial, Helvetica, sans-serif" size="5">School Board</font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td nowrap="nowrap" align="left">
                                        </td>
                                    </tr>
                                </table>
                                <a href="http://localhost/student/TPA/images/BoardLogo2.gif" target="_top"></a>
                            </h3>
                        </td>
                        <td width="325" bgcolor="#000099">
                            <table style="width: 477px; height: 82px" height="82" cellspacing="0" cellpadding="0"
                                width="477" border="0" id="Table2">
                                <tr>
                                    <td valign="top" align="right" width="447" height="14">
                                        <font face="Arial, Helvetica, sans-serif" color="#ffffff" size="5"><strong>Teacher Performance
                                            Appraisal</strong></font>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" height="24">
                                        <p align="center">
                                            <font face="Arial, Helvetica, sans-serif" color="#ffffff" size="5"><strong><font
                                                size="3">SchoolNameSTR</font> </strong></font>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <table id="Table3" style="height: 304px" cellspacing="0" cellpadding="0" width="100%"
                    align="center" border="0">
                    <tr>
                        <td align="center" height="19">
                        </td>
                        <td align="center" height="19">
                        </td>
                        <td align="center" height="19">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" height="37">
                        </td>
                        <td align="center" bgcolor="#000099" height="37">
                            <font face="Arial, Helvetica, sans-serif" color="#ffffff" size="+1"><b>Teacher Performance
                                Appraisal Notification</b> </font>
                        </td>
                        <td align="center" height="37">
                        </td>
                    </tr>
                    <tr>
                        <td align="center" height="22">
                        </td>
                        <td align="center" height="22">
                        </td>
                        <td align="center" height="22">
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                        </td>
                        <td align="center">
                            <table style="width: 640px; height: 312px" cellspacing="5" cellpadding="1" width="640"
                                align="center" border="0" id="Table4">
                                <tr>
                                    <td width="550" height="44">
                                        <p align="left">
                                            <font face="Arial"><b>Dear PrincipalNameSTR</b></font>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" height="66">
                                        <p align="left">
                                            <font face="Arial">You have completed the Summative Reports for </font><font face="Arial, Helvetica, sans-serif"
                                                size="+1"><b>TeacherNameSTR </b>for the <b>SchoolyearSTR </b></font><font face="Arial">
                                                    school year. In order to complete the NTIP process you are required to sign off
                                                    the Strategy Form. </font>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" height="84">
                                        <p align="left">
                                            <font face="Arial">Please go to </font><a href="http://webapp.tcdsb.org/tpa" target="_blank">
                                                <font face="Arial">Teacher Performance Appraisal</font></a>&nbsp;<font face="Arial">to
                                                    complete the task.</font></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top">
                                        <p align="left">
                                            <font face="Arial">AdditioninfomationSTR</font></p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td align="center">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br>
</body>
</html>
